body {
    box-sizing: border-box;
    height: 80vh;
    font-family: 'Roboto', Arial, sans-serif; 
}

header {
    margin: 20px;
}

img {
    display: inline-block;
    background-size: cover;
    max-width: 100%;
}

h1 {
    color: #fb8874;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;   
}

.btn {
    background-color: #fb8874;
    border-color: #fb8874;
    border-radius: 25px;
    width: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;  
    box-shadow: 3px 3px 5px 0px rgba(120,120,120,0.58);      
}

#A, #B, #C, #D, #next {
    display: inline-block;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.abcd {
    font-size: 20px;
    font-weight: bold;
    color: #fc4f35;
    vertical-align: middle;
}

#start:focus, #next:focus, #end:focus, #try-again:focus, #A:focus, #B:focus, #C:focus, #D:focus, #A:active, #B:active, #C:active, #D:active  {
    outline: none;
    box-shadow: none;
}

button[type="submit"] {
    width: 250px;
    background-color: #fb8874;
    border-color: #fb8874;
}

.btn:hover {
    background-color: #f73c20;
    color: #FFFFFF;
}

#A:focus, #B:focus, #C:focus, #D:focus{
    background-color: #938988;
    border: 0;
}

#question-page, #answer-page, #score-page, #correct, #wrong, #end {
    display: none;
}

#question-number {
    color: #fb8874;
}

#correct, #wrong, #score {
    pointer-events: none;
}

#correct, #score {
    background-color: #616ef9;
    border: #616ef9;
}

#wrong {
    background-color: red;
} 

#next, #end {
    width: 300px;
    margin-top: 100px;   
}

#score {
    width: 300px;
} 

#try-again {
    margin-top: 125px;
}
